body{
  height: 100VH;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  background-color: hsl(217, 54%, 11%);
}
.NFT{
  color: white;
  width: 350px;
  height: 600px;
  border-radius: 20px;
  margin:auto;
  text-align: center;
  background-color: hsl(216, 50%, 16%);
}

.eqimg
{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 25px;
  
}
.equilibrium {
  margin-top: 20px;
  width: 85%;
  border-radius: 15px;
}

/*.hoverimg
{  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 247, 0.6);
  display: flex;
  opacity: 1;
  border-radius: 15px;
  transition: 0.4s;
} */

.viewicon {
  height: 50px;
  width: 50px;
  margin: auto;
}

.eqimg:hover .hoverimg{
	opacity: 1;
}
#span1
{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    display:inline-block;
    margin-right: 130px;
    font-size: 14px;
}
#span2
{
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  display:inline-block;
  font-size: 14px;
}
.equi{
  
    font-size: 18px;
    text-align-last: left;
}
h2{
    color: white;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
}
h3{
  color: hsl(215, 51%, 70%);
  text-align: left;
  margin: 20px;
  font-weight: 00;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 1px;
}
.eth
{
    width: 12%;
    height: 12%;
    object-fit: contain;
    display: flex;
    align-items: left;
    justify-content: center;
    float: left;
    padding-right: 5px;
}
.time
  {
    width: 20%;
    height: 20%;
    object-fit: contain;
    display: flex;
    align-items: left;
    justify-content: center;
    float: left;
  }
  hr
  {
    width:260px ;
    height:2px;
    border-width:0;
    margin-top: 30px;
    margin-bottom: 30px;
    color:hsl(215, 32%, 27%);
    background-color:hsl(215, 32%, 27%);
  }
  p{
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    display:inline-block;
    text-align: left;
    padding-left: 20px;
  }
  .creator
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 25px;
  }
  .avatar
  {
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border:  2px solid #fff;
    vertical-align: -8px;
    margin-right: 20px;
    
  }
  a{
      color: white;
      text-decoration: none;
  }
  a:hover, .equi:hover 
  {
    color: hsl(178, 100%, 50%);
	transition:  color .5s;
  }
  a:hover, .equi:hover
  {
    cursor: pointer;
  }
  .interact
  {
    padding: 5px 0;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: 14px;
  }
  @media (min-width: 375px){
  
  }
  @media (max-width: 1440px) {
  
  }
